/*
This is the css for Sponsor Tree
 */

/* optional Container STYLES */
.treeChart {
    height: 400px;
    margin: 5px;
    width: 100%;
    border: 3px solid #DDD;
    border-radius: 3px;
    text-align: center;
}

.Treant p {
    font-size: 10px !important;
    line-height: 1.42857143 !important;
}

.Treant .collapse-switch {
    width: 100%;
    height: 100%;
    border: none;
}

.Treant .node.collapsed .collapse-switch {
    background: none;
}

.Treant .collapse-switch i {
    color: #3276b1;
    position: absolute;
    top: 1px;
    right: 1px;
}

.node > p {
    margin: 0 0 2px !important;
    color: #333 !important;
}

.node-name {
    font-weight: bold;
}

.node-rank {
    font-style: italic;
}

.nodeTree {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    width: 120px;
    font-family: Tahoma;
    font-size: 10px !important;
    text-align: center;
}

.upDownNode {
    border: none;
    background-color: unset;
    cursor: pointer;
}

.upDownNode i {
    color: red;
}

.lessNode, .moreNode {
    color: red;
    min-height: 50px;
    border: none;
    background-color: unset;
}

.lessNode > div, .moreNode > div {
    transform: translateY(15px);
}

p.lessNodeP, p.moreNodeP {
    color: red !important;
    font-size: 12px !important;
    margin-bottom: 9px !important;
}

p.lessNodeP i, p.moreNodeP i {
    vertical-align: middle;
}

.btn-treant-nav {
    cursor: pointer;
}

.btn-treant-nav i {
    color: red;
}

.btn-treant-nav-disabled {
    cursor: auto !important;
}

.btn-treant-nav-disabled i {
    color: transparent !important;
}

.btn-treant-nav-up {
    width: 100%;
    text-align: center;
}