<?xml version="1.0" encoding="UTF-8"?>

<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd">
  <tlib-version>1.0</tlib-version>
  <short-name>sc</short-name>
  <uri>/struts-custom</uri>

	<!-- ========== AUTOCOMPLETE START ===================== -->
  <tag-file>
    <name>userLocAutocomplete</name>
    <path>/WEB-INF/tags/custom/userLocAutocomplete.tag</path>
  </tag-file>
	<!-- ========== AUTOCOMPLETE END ===================== -->

	<!-- ============== LOOKUP START ===================== -->

  <tag-file>
    <name>userLookup</name>
    <path>/WEB-INF/tags/custom/userLookup.tag</path>
  </tag-file>

  <tag-file>
    <name>userLocLookup</name>
    <path>/WEB-INF/tags/custom/userLocLookup.tag</path>
  </tag-file>

  <tag-file>
    <name>userRoleLookup</name>
    <path>/WEB-INF/tags/custom/userRoleLookup.tag</path>
  </tag-file>

	<!-- ============== LOOKUP END ===================== -->

  <tag-file>
    <name>displayErrorMessage</name>
    <path>/WEB-INF/tags/custom/displayErrorMessage.tag</path>
  </tag-file>

  <tag-file>
    <name>displayMemberMessage</name>
    <path>/WEB-INF/tags/custom/displayMemberMessage.tag</path>
  </tag-file>

  <tag-file>
    <name>displayMemberErrorMessage</name>
    <path>/WEB-INF/tags/custom/displayMemberErrorMessage.tag</path>
  </tag-file>

  <tag-file>
    <name>displayMemberSuccessMessage</name>
    <path>/WEB-INF/tags/custom/displayMemberSuccessMessage.tag</path>
  </tag-file>

  <tag-file>
    <name>fieldRow</name>
    <path>/WEB-INF/tags/custom/fieldRow.tag</path>
  </tag-file>

  <tag-file>
    <name>firebugLite</name>
    <path>/WEB-INF/tags/custom/firebugLite.tag</path>
  </tag-file>

  <tag-file>
    <name>scrollTo</name>
    <path>/WEB-INF/tags/custom/scrollTo.tag</path>
  </tag-file>

  <tag-file>
    <name>serverConfiguration</name>
    <path>/WEB-INF/tags/custom/serverConfiguration.tag</path>
  </tag-file>

  <tag-file>
    <name>uploadScript</name>
    <path>/WEB-INF/tags/custom/uploadScript.tag</path>
  </tag-file>

  <tag-file>
    <name>wizardScript</name>
    <path>/WEB-INF/tags/custom/wizardScript.tag</path>
  </tag-file>

  <tag-file>
    <name>datepickerFromTo</name>
    <path>/WEB-INF/tags/custom/datepickerFromTo.tag</path>
  </tag-file>

  <tag-file>
    <name>submitData</name>
    <path>/WEB-INF/tags/custom/submitData.tag</path>
  </tag-file>

  <!-- ============== MLM START ===================== -->
  <tag-file>
    <name>agentLookup</name>
    <path>/WEB-INF/tags/custom/agentLookup.tag</path>
  </tag-file>

  <tag-file>
    <name>cardLookup</name>
    <path>/WEB-INF/tags/custom/cardLookup.tag</path>
  </tag-file>

  <tag-file>
    <name>memberTextField</name>
    <path>/WEB-INF/tags/custom/memberTextField.tag</path>
  </tag-file>

  <tag-file>
    <name>guildTextField</name>
    <path>/WEB-INF/tags/custom/guildTextField.tag</path>
  </tag-file>

  <tag-file>
    <name>identityType</name>
    <path>/WEB-INF/tags/custom/identityType.tag</path>
  </tag-file>

  <!-- ============== MLM END ===================== -->

  <!-- ============== SHOP START ===================== -->
  <tag-file>
    <name>title</name>
    <path>/WEB-INF/tags/custom/title.tag</path>
  </tag-file>

  <tag-file>
    <name>widget</name>
    <path>/WEB-INF/tags/custom/widget.tag</path>
  </tag-file>

  <tag-file>
    <name>productCatLoookup</name>
    <path>/WEB-INF/tags/custom/productCatLookup.tag</path>
  </tag-file>
  <!-- ============== SHOP END ===================== -->

  <!-- ============== BIGBAG START ===================== -->
  <tag-file>
    <name>pageTitle</name>
    <path>/WEB-INF/tags/custom/pageTitle.tag</path>
  </tag-file>

  <tag-file>
    <name>carousel</name>
    <path>/WEB-INF/tags/custom/carousel.tag</path>
  </tag-file>

  <tag-file>
    <name>carouselThumb</name>
    <path>/WEB-INF/tags/custom/carouselThumb.tag</path>
  </tag-file>

  <tag-file>
    <name>cartListDropdown</name>
    <path>/WEB-INF/tags/custom/cartListDropdown.tag</path>
  </tag-file>

  <tag-file>
    <name>featuredCollection</name>
    <path>/WEB-INF/tags/custom/featuredCollection.tag</path>
  </tag-file>

  <tag-file>
    <name>featuredProduct</name>
    <path>/WEB-INF/tags/custom/featuredProduct.tag</path>
  </tag-file>
  <!-- ============== BIGBAG END ===================== -->

</taglib>
