<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib prefix="s" uri="/struts-tags"%>

<link rel="stylesheet" href="<c:url value="/asset/plugin/fuelux/wizard.css"/>" type="text/css" />
<script src="<c:url value="/asset/plugin/fuelux/wizard.js"/>"></script>