$blue: #8385fa;
$teal: #073b4c;
$red: #ee476e;
$yellow: #ffee00;
$green: #00c441;
$purple: #d495fe;
$primary: #400b75;
$secondary: #ff4fff;

$theme-colors: (
	'blue': $blue,
	'teal': $teal,
	'red': $red,
	'yellow':$yellow,
	'green': $green,
	'purple': $purple,
  	'primary': $primary,
  	'secondary': $secondary
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px
);

$font-size-base: 0.9rem;
$font-size-sm: 0.75rem;
$font-size-lg: 1rem;

$spacer: 2.5rem;

$input-placeholder-color: #a8a1b3;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/custom-forms';
@import '../node_modules/bootstrap/scss/input-group';
@import '../node_modules/bootstrap/scss/buttons';

@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';

html
{
	height: 100%;
}

body
{
	min-height: 100%;
}
