$grid-breakpoints: (
    xsmall: 0px,
    small: 576px,
    medium: 768px,
    large: 992px,
    xlarge: 1200px
);

$spacer: 1rem;
$spacers: (
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
);

.grid
{
    display: grid;
}

@each $spacer, $width in $spacers
{
    .gap-#{$spacer}
    {
        grid-gap: #{$width};
    }
}

@each $breakpoint, $width in $grid-breakpoints
{
    @media (min-width: #{$width})
    {
        @for $i from 1 through 12
        {
            .#{$breakpoint}-#{$i}
            {
                grid-template-columns: repeat(#{$i}, 1fr);
            }
        }

        @for $x from 1 through 12
        {
            @for $y from 1 through 12
            {
                .#{$breakpoint}-#{$x}x#{$y}
                {
                    grid-column: span #{$x};
                    grid-row: span #{$y};
                }
            }
        }
    }
}
