@import 'core';

@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/carousel';
@import '../node_modules/bootstrap/scss/utilities';

$hamburger-layer-color: #fff;
$hamburger-layer-width : 32px;
$hamburger-layer-height: 3px;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;

@import '../node_modules/hamburgers/_sass/hamburgers/hamburgers';

@import 'grid';

@font-face
{
    font-family: 'PingFang SC Regular';
    src: url('../font/PingFang SC Regular.ttf');
}

body
{
    font-family: 'PingFang SC Regular';
}

header
{
    .navbar
    {
        padding: 1rem;
        z-index: 100;
        transition: background-color .1s linear;

        &.bg-primary
        {
            box-shadow: 0 1px 5px $gray-800;
        }

        .navbar-brand
        {
            .logo-lg
            {
                height: 10rem;
                margin-bottom: -6rem;
            }

            .logo-sm
            {
                height: 5rem;
            }
        }

        .navbar-nav
        {
            .nav-item
            {
                .nav-link
                {
                    padding: 0.5rem 2rem;
                    color: #fff;
                    font-weight: bold;
                    transition: color .3s ease;
                }

                .btn
                {
                    padding: 0.5rem 2rem;
                }

                &:hover
                {
                    .nav-link
                    {
                        color: $secondary;
                    }
                }
            }
        }
    }
}

// whale media
.media-1
{
    .body
    {
        background-image: url('../banner/1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        position: relative;
        text-align: center;


        &:before
        {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $primary;
            opacity: 0.7;
        }

        .content
        {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            color: #fff;
            z-index: 1;
        }
    }
}

.media-2
{
    background: #fff;
    position: relative;
    z-index: 1;

    img
    {
        margin-top: -35%;
    }

    &:before
    {
        content: '';
        background: inherit;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: skewY(-8deg);
        transform-origin: left;
        z-index: -1;
    }
}

.media-3
{
    background-color: $gray-100;

    .item
    {
        .img
        {
            max-height: 8rem;
            display: block;
            margin: 0 auto;
        }

        .title
        {
            margin-top: 1rem;
            text-align: center;
        }
    }
}

.media-4
{
    background-color: $primary;
    position: relative;
    color: #fff;
    z-index: 1;

    &:before
    {
        content: '';
        background: inherit;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: skewY(-5deg);
        transform-origin: left;
        z-index: -1;
    }

    &:after
    {
        content: '';
        background: inherit;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: skewY(-5deg);
        transform-origin: right;
        z-index: -1;
    }
}

.media-5
{
    .img
    {
        display: block;
        margin: auto;
        max-width: 18rem;
    }

    .name
    {
        max-width: 18rem;
        padding: 2rem 0;
        margin: auto;
        text-align: center;
        box-shadow: -10px 15px $purple;
        background-color: $gray-100;
        transform: skewY(-5deg);
        transform-origin: left;
    }

    .body
    {
        background-color: $gray-100;
    }
}

.media-6
{
    .img
    {
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .body
    {
        position: relative;

        .content
        {
            position: absolute;
            top: 50%;
            left: 5%;
            right: 5%;
            transform: translateY(-50%);
            padding: 0 3rem;
        }
    }
}

.media-7
{
    .img
    {
        max-width: 100%;
        max-height: 5rem;
        display: block;
        margin: auto;
    }
}

.media-8
{

}

.media-9
{
    position: relative;

    .circle-bg
    {
        position: absolute;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: solid 15px $blue;
        top: -3rem;
        left: -5rem;
    }

    .circle-sm
    {
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: solid 15px #d495fe;
        top: -3rem;
        left: 1.5rem;
    }

    background-color: $gray-100;
}

// whale live
.live-1
{
    height: 100vh;
    display: flex;

    .carousel
    {
        width: 50%;
        z-index: -2;

        .carousel-inner
        {
            height: 100%;

            .carousel-item
            {
                height: 100%;

                .img
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .body
    {
        position: relative;
        width: 50%;
        background-color: $primary;
        color: #fff;

        &:before
        {
            content: '';
            background: inherit;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transform: skewX(10deg);
            transform-origin: bottom;
            z-index: -1;
        }

        .content
        {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -25%;
            right: 10%;
            text-align: right;

            .big
            {
                font-size: 3rem;
            }
        }

        .circle-1
        {
            position: absolute;
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            background-color: #fff;
            right: 3rem;
            bottom: 7rem;
        }

        .circle-2
        {
            position: absolute;
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            border: solid 5px $blue;
            right: 1rem;
            bottom: 8rem;
        }
    }
}

.live-2
{
    background-color: $gray-100;

    .item
    {
        .img
        {
            max-height: 8rem;
            display: block;
            margin: 0 auto;
        }

        .title
        {
            margin-top: 1rem;
        }
    }
}

.live-3
{
    background-color: $primary;

    .body
    {
        position: relative;

        .content
        {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20%;
            right: 20%;
            color: #fff;
        }
    }
}

.live-4
{
    .item
    {
        position: relative;

        .circle
        {
            background-color: #fff;
            position: absolute;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: solid 5px #8385fa;
            top: -1rem;
            left: -1rem;

            .number
            {
                display: block;
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }
}

// recharge coin
.recharge-1
{
    padding-top: 15rem;
    background-color: $primary;
    color: #fff;

    .body
    {
        position: relative;

        .circle-bg
        {
            background-color: #fff;
            position: absolute;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            top: -4rem;
            left: -3rem;
        }

        .circle-sm
        {
            position: absolute;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: solid 5px $blue;
            top: 1rem;
            left: 3rem;
        }

        .form-control
        {
            background-color: $primary;
            border: solid 3px $blue;
            border-radius: 2rem;
            padding: 1.5rem;
            text-align: center;
            color: #fff;
        }

        .card
        {
            border-radius: 0;
            margin-bottom: 1rem;

            .card-header
            {
                background-color: #fff;
                border-bottom: none;
                padding: 1.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .img
                {
                    margin-right: 1rem;
                    height: 2rem;
                }

                .title
                {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }

            .card-body
            {
                padding: 0;

                .table
                {
                    tr
                    {
                        td
                        {
                            padding: 0.5rem 1.5rem;
                            vertical-align: middle;
                            font-weight: bold;
                        }
                    }
                }

                .img
                {
                    height: 5rem;
                }
            }
        }
    }
}

//download
.download-1
{
    padding-top: 15rem;
    background-color: $primary;
    color: #fff;

    .body
    {
        position: relative;

        .circle-bg
        {
            background-color: #fff;
            position: absolute;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            top: -4rem;
            left: -3rem;
        }

        .circle-sm
        {
            position: absolute;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: solid 5px $blue;
            top: 1rem;
            left: 3rem;
        }

        .form-control
        {
            background-color: $primary;
            border: solid 3px $blue;
            border-radius: 2rem;
            padding: 1.5rem;
            text-align: center;
            color: #fff;
        }

        .card
        {
            border-radius: 0;
            margin-bottom: 1rem;

            .card-header
            {
                background-color: #fff;
                border-bottom: none;
                padding: 1.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .img
                {
                    margin-right: 1rem;
                    height: 2rem;
                }

                .title
                {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }

            .card-body
            {
                padding: 0;

                .table
                {
                    tr
                    {
                        td
                        {
                            padding: 0.5rem 1.5rem;
                            vertical-align: middle;
                            font-weight: bold;
                        }
                    }
                }

                .img
                {
                    height: 5rem;
                }
            }
        }
    }
}

// footer
footer
{
    .container-fluid
    {
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: $primary;
        text-align: center;
        color: #fff;
    }
}

h1, h2, h3, h4, h5
{
    font-weight: bold;
}

.btn
{
    color: #fff;
}

@media (max-width: 576px)
{
    .recharge-1
    {
        padding-top: 10rem;
    }
    .download-1
    {
        padding-top: 10rem;
    }
}
