/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.pagination-centered {
    text-align: center;
}

.control-group-centered {
    text-align: center;
}

.dl-horizontal dt
{
    white-space: normal;
    margin-bottom: 3px;
}

.dl-horizontal dd
{
    margin-bottom: 3px;
}

/* DataTables */
div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

div.dataTables_wrapper td.dt-body-right {
    text-align: right;
}